@property --weather-color {
  syntax: "<color>";
  initial-value: #ffffff;
  inherits: false;
}

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  line-height: 1.5em;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  --weather-color: #ffffff;
  background: radial-gradient(#ffffff, var(--weather-color));
  transition: --weather-color 1s 0s;
}

nav {
  margin-top: 10px;
  margin-bottom: 30px;
}

nav > span {
  font-size: 1.4em;
  font-weight: 600;
  margin: 0px 5px 0px 20px;
}

.search-form {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.search-form > input {
  width: 40%;
  padding: 4px 8px;
  border-radius: 15px;
}

#search-location {
  border: 2px solid #636363;
  outline: none;
}

#search-location:focus {
  border: 2px solid rgb(76, 76, 255);
}

.search-form > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  outline: none;
}

.current {
  border-radius: 4px;
  box-shadow: 0px 0px 5px rgb(65, 65, 65);

  margin: 80px auto;
  padding: 40px;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#current-city-value {
  font-size: 24px;
}

.current-conditions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.current-conditions-icon {
  height: 50px;
}

.weekly-weather {
  margin: 0px auto 10px auto;
  display: flex;
  flex-direction: row;
  gap: 8px;
  overflow: scroll;
}

.day-forecast {
  border: 1px black solid;
  border-radius: 4px;
  box-shadow: 2px 2px 10px rgb(65, 65, 65);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  flex: 0 0 calc(calc(100% / 7) - calc(7px));
}

.forecast-date {
  font-weight: 600;
}

.forecast-icon {
  height: 40px;
}

.degree-button {
  background-color: rgba(86, 86, 86, 0.712);
  border: none;
  cursor: pointer;
  padding: 2px;
  border-radius: 4px;
  color: rgb(89, 89, 89);
  box-shadow: 0px 0px 5px rgb(147, 147, 147);
}

.active {
  color: rgb(254, 254, 254);
}
